<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN | COLDWHERE</title>

    <link rel="icon" type="image/ico" href=@Url.Content("/Content/images/login_logo.png") alt="Avatar" class="avatar" />


    @*<link href=@Url.Content("/Content/css/style.css") type="text/css" rel="stylesheet" media="screen,projection">*@

    <link href=@Url.Content("/Content/styles.css") type="text/css" rel="stylesheet" media="screen,projection">


    @Scripts.Render("~/bundles/jquery")

    <!-- import jquery before materialize-->

    @*<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- import javascript-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/icon?family=Material+Icons">


    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <script>
        $(document).ready(function () {
            $('select').material_select();
        });
    </script>



    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")

</head>
<body>


    <div class="container body-content">

        
        @*<script>
            $(document).ready(function () {
                $('select').material_select();
            });
        </script>*@

        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")

   @*@RenderSection("scripts", required: false)*@

</body>
</html>
